
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


@keyframes TransitioningBackground {
    0% {
      background-position: 1% 0%;
    }
    50% {
      background-position: 99% 100%;
    }
    100% {
      background-position: 1% 0%;
    }
  }
  .matches-btn {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    text-align: center;
    width: 84%;
    height: 54px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background: #FF3E6C;
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 1s;
    border: none;
    outline: none;
    margin-top: 15px;
  }
  .matches-btn::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    left: -15%;
    transform: skewX(-20deg);
  }
  .matches-btn::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: -15%;
    filter: blur(5px);
    transform: skewX(-20deg);
  }
  .matches-btn:hover {
    cursor: pointer;
  }
  .matches-btn:hover::before, .matches-btn:hover::after {
    transform: skewX(-20deg);
    transition: 1s;
    left: 130%;
  }